<launch>

  <arg name="robot" default="minitaur"/>
  <arg name="calibration_file"
    default="$(find legged_vio)/config/camchain-imucam-euroc.yaml"/>

  <!-- Image Processor Nodelet  -->
  <include file="$(find legged_vio)/launch/image_processor_euroc.launch">
    <arg name="robot" value="$(arg robot)"/>
    <arg name="calibration_file" value="$(arg calibration_file)"/>
  </include>

  <!-- Legged VIO Nodelet  -->
  <group ns="$(arg robot)">
    <node pkg="nodelet" type="nodelet" name="vio"
      args='standalone legged_vio/LeggedVioNodelet'
      output="screen">

      <!-- Calibration parameters -->
      <rosparam command="load" file="$(arg calibration_file)"/>

      <remap from="~imu" to="/imu0"/>
      <remap from="~features" to="image_processor/features"/>

    </node>
  </group>

</launch>
